/* Variabler*/
$bg-color: #F8F6F3;
$box-color: #E3DCD1;
$primary-color: #94A6AE;
$secondary-color: #335766;
$accent-color: #E97E3A;
$text-color: #0f1010;
$header-font: "bahnschrift", sans-serif;
$font: "roboto", sans-serif;

/*Mixins*/

@mixin btn{
    background-color: $accent-color;
    border-radius: 5px;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color;
    font-family: $font;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
     padding: 0; 
    white-space: nowrap;
}

@mixin btn-hover{
        background-color: $secondary-color;
        border-radius: 5px;
        border: 2px solid $secondary-color;
        color: $bg-color;
        cursor: pointer;
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}