@use "partial";

/* ------------ GENERAL STYLING ------------ */
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
background-color: partial.$bg-color;
font-family: partial.$font;
}

h1, h2, h3 {
font-family: partial.$header-font;
color: partial.$text-color;
margin-bottom: 1rem;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }

@media (max-width: 768px){
  h1 { font-size: 2rem; }
  h2 { font-size: 1.7rem; }
  h3 { font-size: 1.4rem; }
}

p{
font-size: 1.2rem;
color: partial.$text-color;
line-height: 1.6;
}

a{
font-size: 1.2rem;
color: partial.$text-color;
text-decoration: none;
font-weight: 600;

  &:hover{
  font-weight: 400;
  }
}

.btn{
@include partial.btn;

  &:hover{
  @include partial.btn-hover;
  }
}

.margin-top{
margin-top: 1rem;
}

.margin-bottom{
margin-bottom: 1rem;
}

.center{
@include partial.center;
}

@media (max-width: 768px){
  .center{
    flex-direction: column;
    gap: 0;
  }
}

/* --- HEADER - CONTACT-INFO --- */
header.contact-info{
background-color: partial.$bg-color;
height: 16px;
justify-content: end;
gap: 2rem;

  a{
  font-size: 14px;
  }
}

/* ------------ HEADER ------------ */
header {
background-color: partial.$primary-color;
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
height: 60px;
padding: 1rem 2rem;

  .logo {
  height: 50px;
  }

  .menu-toggle {
  display: none;
  background: none;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  z-index: 1100;
  }

  .navbar {
  display: flex;

    ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    }

    li {
    position: relative;
    }

    a.active {
    background-color: partial.$secondary-color;
    padding: 20px 0.5rem;
    color: partial.$bg-color;
    font-weight: 400;
    }

    .dropdown-content {
    display: none;
    position: absolute;
    background-color: partial.$bg-color;
    min-width: 180px;
    top: 100%;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;

      li a {
      padding: 0.5rem 1rem;
      display: block;
      white-space: nowrap;
      color: #000;
      }
    }
  }
}

.dropdown:hover .dropdown-content {
display: block;
}


@media (max-width: 768px) {
header {
flex-wrap: wrap;
padding: 0 1rem;

  .menu-toggle {
  display: block;
  }

  .logo {
  height: 40px;
  }

  .navbar {
  display: none;
  flex-direction: column;
  width: 250px;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: partial.$primary-color;
  z-index: 999;

    ul {
    flex-direction: column;
    width: 100%;
    gap: 0;

      li {
      width: 100%;
      }

      a {
      padding: 0.5rem;
      display: block;
      }
    }

    a.active {
    padding:0.5rem;
    }
  }

  .navbar.active {
  display: flex;
  }
}

header.contact-info{
height: 20px;
gap: 1rem;
}
}
/* ------------ HEADER END ------------ */

/* ------------ FRONTPAGE ------------ */
/* ---- HERO-FRONTPAGE ---- */
.hero-forside{
position: relative;
height: 50vh;
overflow: hidden;
    
  video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
  }
  
  /*.content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 2rem;
  }*/
}
/* ---- HERO-FRONTPAGE END ---- */
  

/* ---- HIGHLIGHT ---- */
.highlight-container{
height: 60px;
background-color: partial.$secondary-color;
display: flex;
justify-content: space-evenly;
align-items: center;

  .highlight{
  display: flex;
  align-items: center;
  gap: 0.5rem;
        
    p{
    color: partial.$bg-color;
    }
  }
}

@media (max-width: 768px){
  .highlight-container{
  flex-direction: column;
  height: 100px;
  }
}
/* ---- HIGHLIGHT END ---- */

/* ---- INTRO ---- */
.intro-container{
padding: 4rem 1rem;
display: flex;
justify-content: center;
margin: 2rem 0;

  .intro{
  max-width: 1200px;
  width: 100%;
  text-align: center;

    h1{
    margin-bottom: 1rem;
    }

    a{
    margin: 1rem;
    margin-top: 2rem;
    }
  }
}

@media (max-width: 768px){
  .intro-container{
  padding: 1rem;
  
    .intro a{
      margin-top: 0;
    }
  }
}
/* ---- INTRO END ---- */

/* ---- TEXT + IMAGE ---- */
.tw-block-container{
padding: 4rem 1rem;
background-color: partial.$box-color;

  .text-img-wrapper{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 4rem;
  align-items: center;

    .text-block,
    .img-block{
    flex: 1 1 50%;
    }

    .img-block{
      max-height: 600px;
      overflow: hidden;
      box-shadow: 20px 20px 0px 0px partial.$secondary-color;
      margin: 1rem;

      img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      }
    }
  }
}

.contact-container{
background-color: transparent;
}

@media (max-width: 768px){
  .tw-block-container{
  padding: 2rem 1rem;
  }

  .tw-block-container .text-img-wrapper{
  flex-direction: column;
  }

  .text-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .remove{
    display: none;
  }
}
/* ---- TEXT + IMAGE END---- */

/* ---- TESTIMONIALS ---- */
.testimonial-container {
background-color: partial.$primary-color;
padding: 5rem;
text-align: center;
margin-top: 1rem;
display: flex;
justify-content: center;

.testimonial-card {
  display: inline-block;
  background-color: #fff;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 1000px;
  width: auto;
  height: 250px; 
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  position: relative;
  
    .quote {
    font-style: italic;
    color: #333;
    max-height: 200px;
    overflow: hidden;
    }
      
    .stars i {
    margin-top: 2rem;
    color: #FFD43B;
    }
      
    .author {
    margin-top: 10px;
    font-weight: bold;
    color: #444;
    }
  }
  
  .nav-buttons {
  margin-top: 10px;
  
    button {
    background-color: partial.$secondary-color;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 0 3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
      &:hover {
      background-color: partial.$accent-color;
      }
    }
    
    button i {
    margin-right: 5px;
    }
  }
}

@media (max-width: 768px){
  .testimonial-container {
    padding: 1rem;

    .testimonial-card {
    padding: 1rem;
    width: auto;
    height: auto; 
      
      .quote {
      max-height: 500px;
      }
    }
  }
}
/* ---- TESTIMONIALS END ---- */

/* ---- GALLERY ---- */
.gallery {
padding: 10px;
}

.gallery-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 10px;
max-width: 100%;
overflow: hidden;
}

.gallery-item {
aspect-ratio: 4 / 3;
}

.gallery-item img {
width: 100%;
height: 100%;
object-fit: cover;
display: block;
}

@media (min-width: 800px) {
  .gallery-grid {
  grid-template-columns: repeat(4, 1fr);
  }

  /* targets the last 4 frames in each block of 8 images */
  .gallery-item:nth-child(8n+5),
  .gallery-item:nth-child(8n+6),
  .gallery-item:nth-child(8n+7),
  .gallery-item:nth-child(8n+8) {
  transform: translateX(50%);
  }
}
/* ---- GALLERY END ---- */
/* ------------ FRONTPAGE END ------------ */

/* ---- HERO ---- */
.hero{
height: 500px;
overflow: hidden;

  img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  }
}
/* ---- HERO END ---- */

/* ---- SERVICE-GRID ---- */
.service-grid{
display: flex;
flex-wrap: wrap;
gap: 1rem;
margin: 1rem 0;
justify-content: space-between;

  article{
  width: 48%;
  background-color: partial.$box-color;
  padding: 2rem 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;

    .btn {
    margin-top: auto;
    }

    h3, 
    p{
    margin-bottom: 1rem;
    }
  }
}

@media (max-width: 700px){
  .service-grid{
    article{
    width: 100%;
    }
  }
}
/* ---- SERVICE-GRID END ---- */

/* ---- ASIDE LAYOUT ---- */
.layout-wrapper {
display: flex;
gap: 2rem;
max-width: 1200px;
margin: 2rem auto;
padding: 0 1rem;
align-items: flex-start;
}

main {
flex: 2;
}

aside {
flex: 1;
background-color: partial.$primary-color;
padding: 1rem;
max-width: 400px;
border-radius: 5px;
top: 10px;
position: sticky;

  .contactform-container{ 
    input,
    textarea{
    background-color: partial.$bg-color;
    }
  }
}

@media (max-width: 900px) {
.layout-wrapper {
flex-direction: column;
}

.service-grid {
grid-template-columns: 1fr;
}

aside {
max-width: 100%;
padding: 0;
}
}
/* ---- ASIDE LAYOUT END ---- */

/* ------------ CONTACTPAGE ------------ */
.contact-wrapper {
display: flex;
flex-wrap: wrap;
align-items: center;

  .contactform-container,
  .contact-img {
  flex: 1 1 50%;
  padding: 2rem;
  }

  .contact-img img {
  width: 100%;
  height: auto;
  display: block;
  }

  .contact-info-item {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

    i{
    font-size: 1.4rem;
    min-width: 24px;
    }
    
    div, 
    a {
    display: block;
    }
    
    p {
    margin: 0;
    }
  }
}


@media (max-width: 768px) {
.contact-wrapper {
flex-direction: column;
  
  .contactform-container,
  .contact-img {
  flex: 1 1 100%;
  padding: 1rem;
  }
}
}
/* ------------ CONTACTPAGE END ------------ */

/* ------------ CONTACTFORM ------------ */
.contactform-container{
padding: 4rem 1rem;
max-width: 750px;
margin: 0 auto;

  input,
  textarea,
  label{
  font-family: partial.$font;
  display: block;
  width: 100%;
  }

  input,
  textarea{
  background-color: partial.$box-color;
  color: partial.$text-color;
  border: 0;
  margin-bottom: 10px;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  }

  input:focus,
  textarea:focus{
  outline: 1px solid partial.$text-color;
  }

  form{
  max-width: 600px;
  text-align: left;
  padding: 20px 0;
  }

  input[type=submit]{
  margin-top: 1rem;
  width: auto;
  background-color: partial.$accent-color;

    &:hover{
    background-color: partial.$secondary-color;
    }
  }
}

/* ---- POP-UP ---- */
.modal {
display: none;
position: fixed;
z-index: 1;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: 100%;
height: 100%;
 overflow: auto;
background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
background-color: partial.$bg-color;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 80%; 
max-width: 500px;
text-align: center;
position: relative; 
}

.close {
color: partial.$text-color;
font-size: 40px;
font-weight: bold;
position: absolute; 
top: -10px; 
right: 10px;
text-decoration: none;
cursor: pointer;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
/* ---- POP-UP END ---- */
/* ------------ CONTACTFORM END ------------ */

/* ---- BTN TO TOP ---- */
#to-top {
display: none;
position: fixed;
bottom: 20px; 
right: 30px; 
z-index: 1000; 
border: none;
outline: none; 
background-color: partial.$accent-color;
opacity: 80%;
color: white; 
cursor: pointer;
padding: 15px;
border-radius: 50%; 
font-size: 18px;

  &:hover {
  background-color: partial.$secondary-color;
  }
}
/* ---- BTN TO TOP END ---- */

/* ------------ FOOTER ------------ */
footer {
background-color: partial.$primary-color;
padding: 2rem;
display: flex;
justify-content: space-between;
flex-wrap: wrap;

.footer-info {
display: flex;
flex-wrap: wrap;
gap: 2rem;

  li {
    list-style: none;
  }
}

.footer-logo img {
margin-top: 1rem;
}
}

/* ------------ FOOTER END ------------ */